<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>  
    <header class="container">
        <img src="./to_do_logo.png" alt="" class="logo">
        <nav>
            <ul>
                <li><a href="http://localhost:8080/signup">Sign Up</a></li>
                <li><a href="http://localhost:8080/login">Login</a></li>
            </ul>
            
        </nav>
    </header>
    <div class="container">
        <div class="intro">
            <h1 class="intro-title">Student Learning Managements system</h1>
            <br>
            <a href="http://localhost:8080/signup" class="btn">Let's Get Started</a>
        </div>
    </div>
</body>
</html>